* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
    color: black;
    margin: 0;
    padding: 0;
    display: border-box;
    background-color: white;
}

body {
    width: 500px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(161, 131, 94);
}

#title {
    background-color: bisque;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h2 {
    color:rgb(157, 61, 198);
}

a {
    background-color: rgb(64, 97, 125);
}

#recipes {
}

#recipes li {
    /* background-color: white; */
}


ul li {
    background-color: rgb(119, 173, 83);
}

ol li {
    background-color: aqua;
}

li {
    width: 400px;
}

img {
    height: auto;
    width: 500px;
}